.search{
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 40px;
}

.container{
    .col-4-sm{
        margin-left: 30px;
        margin-right: 30px;
        .title{
            font-size: x-large;
        }
        .content{
            margin-top: 10px;
        }
    }
}
